@import "../../../styles/vm.scss";

.matches {
   @include mainSectionHeight;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   padding-top: 22px;
   color: white;
}

.matchesHeader {
   display: grid;
   grid-template-columns: 80px 1fr 70px;
   width: 80%;
   padding: 8px 0;
   border-radius: 10px;
   background-color: #018786;
   margin-bottom: 10px;
}

.matchesHeader h2 {
   font-weight: 900;
   font-size: 1.6rem;
   justify-self: start;
   align-self: center;
}

.matches select {
   justify-self: start;
   align-self: center;
   color: white;
   background-color: #018786;
   border: 1px solid currentcolor;
   font-weight: 900;
   font-size: 1.4rem;
   letter-spacing: 2px;
}

.matches select::before {
   content: "Kolejka";
   font-size: 16px;
   position: relative;
}

.matches table {
   width: 78%;
   height: auto;
   margin-bottom: 10px;
   border-radius: 10px;
}