@import "../../../styles/vm.scss";

.MenuItem {
   display: flex;
   flex-direction: column;
   margin-bottom: 15px;
}

.listItem {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 4px 0;
   margin-left: 47px;
}

.headerBox {
   margin-left: 30px;
}

.header {
   font-size: 1.6rem;
   color: white;
   @include roboto700;
   text-decoration: none;
   padding: 4px 0;
   margin-left: 15px;
}

.leagueLink {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   font-size: 13px;
   color: white;
   @include roboto700;
   text-decoration: none;

   &:hover {
      color: $bgc-light-lighter;
   }
}

.leagueLinkActive {
   color: $bgc-light-lighter;
}

.icon_vs,
.icon_tab,
.icon_stat {
   margin-right: 8px;
   background-size: 20px 20px;
   height: 20px;
   width: 20px;
}

.icon_vs {
   background-image: url(../../../assets/icons/result-icon.svg);
}

.icon_tab {
   background-image: url(../../../assets/icons/tabel-icon.svg);
}

.icon_stat {
   background-image: url(../../../assets/icons/scorers-icon.svg);
}