@import "../../styles/vm.scss";

.menuLight,
.menuDark {
   @include mainSectionHeight;
   @include noSelection;
   grid-column: 1/2;
   position: relative;
   width: 240px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.menuLight {
   background-color: $bgc-light;
}

.menuDark {
   background-color: $bgc-dark;
}

.nav {
   display: flex;
   flex-direction: column;
}