@import "../../styles/vm.scss";

.Info {
   @include mainSectionHeight;
	width: 100%;
	height: 100%;
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.infoItem {
	width: auto;
	margin: 14px auto;
}
.link {
	font-size: 1.4rem;
	color: white;
	@include roboto700;
	text-decoration: none;
	display: grid;
	grid-template-columns: 40px 220px;
	align-items: center;
}
.link:hover {
	color: $bgc-light-lighter;
}
.line {
	margin: 20px auto;
	border-top: 2px solid white;
	width: 50%;
}
.icon {
	background-size: 30px 30px;
	height: 30px;
	width: 30px;
}
