@import "../../../styles/vm.scss";

.TableList {
   @include mainSectionHeight;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   color: white;
   overflow-x: hidden;
}
