$bgc-light: #066161;
$bgc-light-lighter: #1eadad;
$bgc-dark: #222;
$bgc-dark-lighter: #333;

$brakepoint: 1000px;

@mixin roboto400 {
	font-weight: 400;
	font-style: normal;
}

@mixin roboto700 {
	font-weight: 700;
	font-style: normal;
}

@mixin roboto700italic {
	font-weight: 400;
	font-style: italic;
}

@mixin mainSectionHeight {
	height: auto;
	min-height: calc(100vh - 80px);
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
}

@mixin noSelection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin tableRowGrid {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 40px 200px repeat(7, minmax(72px, 1fr)) minmax(
			140px,
			1fr
		);
	width: 100%;
	min-width: 908px;
}

@mixin scorersRowGrid {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 60px 60px minmax(150px, 200px) 60px minmax(140px, 1fr) minmax(
			200px,
			1fr
		);
	width: 100%;
	min-width: 680px;
}

@mixin resultsRowGrid {
	display: grid;
	justify-items: center;
	grid-template-columns: 44% 12% 44%;
}
