$bgc-light: #026b6b;
$bgc-light-lighter: #0fc2c2;
$bgc-dark: #222;
$bgc-dark-lighter: #333;

@mixin roboto400 {
	font-weight: 400;
	font-style: normal;
}

@mixin roboto700 {
	font-weight: 700;
	font-style: normal;
}

@mixin roboto700italic {
	font-weight: 400;
	font-style: italic;
}

@mixin mainSectionHeight {
	height: calc(100vh - 80px);
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: 15px;
	width: 100%;
}

@mixin noSelection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin tableRowGridColumn {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 60px 250px repeat(6, 1fr) 150px;
}

@mixin scorersRowGridColumn {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 10% 200px 10% 200px 1fr;
}
@mixin resultsRowGridColumn {
   display: grid;
   justify-items: center;
   grid-template-columns: 40% 20% 40%;
}
