.BL1, .PD, .FL1 , .PL, .SA {
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
	background-size: 30px 25px;
	width: 30px;
	height: 25px;
}
.BL1 {
	background-image: url(../../assets/flag/flag_DE.png);
}
.PD {
	background-image: url(../../assets/flag/flag_ES.png);
}
.FL1 {
	background-image: url(../../assets/flag/flag_FR.png);
}
.PL {
	background-image: url(../../assets/flag/flag_EN.png);
}
.SA {
	background-image: url(../../assets/flag/flag_IT.png);
}