.scorersTableHeading,
.scorersTableItems{
    display: grid;
    justify-items: start;
    grid-template-columns: 15% 40% 45%;
    grid-template-areas: 
    "goals player team";
    font-weight: 900;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 7px;
}
.scorersTableHeading{
    background-color: #018786;
}
.scorersTableItems {
    background-color: #01bab8;
}
.scorersTableItems:hover{
    background-color: green;
}
.scorersTableHeading th{
    font-size: 1.5rem;
}
.scorersTableItems td {
	font-size: 1.3rem;
}
.scorersTableHeading th:nth-child(1),
.scorersTableItems td:nth-child(1){
    justify-self: center;
}
