@import "../../styles/vm.scss";

.Settings {
   @include mainSectionHeight;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   position: relative;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 300px;
   height: auto;
   margin: 0 auto;
   color: white;
   @include roboto700;
}

.header {
   margin: 10px 0;
   font-size: 16px;
}

.innerContainer {
   margin: 20px 0;
   display: grid;
   grid-template-columns: repeat(3, 100px);
   justify-items: center;
}

.optionLeft,
.optionRight {
   font-size: 14px;
}

.optionLeft {
   grid-column: 1/2;
}

.optionRight {
   grid-column: 3/4;
}

.line {
   margin: 20px auto;
   border-top: 2px solid white;
   width: 50%;
}