@import "../../styles/vm.scss";

.mainPage {
	&:hover {
		cursor: pointer;

		.header {
			color: $bgc-light-lighter;
		}

		.icon {
			color: $bgc-light-lighter;
		}
	}
}
.LeagueScoresLight,
.LeagueScoresDark {
	display: grid;
	grid-template-columns: 82px 1fr 50px;
	width: 96%;
	padding: 8px 0;
	border-radius: 10px;
	margin-bottom: 10px;
	select {
		justify-self: start;
		align-self: center;
		color: white;
		background-color: #018786;
		border: 1px solid #fff;
		@include roboto700;
		font-size: 1.4rem;
		letter-spacing: 2px;
	}

	select::before {
		content: "Kolejka";
		font-size: 16px;
		position: relative;
	}
}

.LeagueScoresDark {
	background-color: $bgc-dark;
}

.LeagueScoresLight {
	background-color: $bgc-light;
}

.header {
	grid-column: 2/3;
	justify-self: start;
	align-self: center;
	font-size: 16px;
}

.icon {
	width: 25px;
	height: 25px;
	color: #fff;
   transition: transform 0.5s;
   transform: rotate(0);
}

.rotate {
	transform: rotate(180deg);
}
