@import "../../styles/vm.scss";

.ScorersRowHeaderLight,
.ScorersRowHeaderDark {
	@include roboto700;
   @include scorersRowGrid;
	height: 34px;
	padding: 4px;
	margin-bottom: 4px;
	border-radius: 6px;

	span {
		font-size: 1.3rem;
		text-align: center;
	}

	span:nth-child(2),
	span:nth-child(4),
	span:nth-child(5) {
		justify-self: start;
		padding-left: 10px;
	}
}

.ScorersRowHeaderLight {
	background-color: $bgc-light;
}

.ScorersRowHeaderDark {
	background-color: $bgc-dark;
}
