@import "../../styles/vm.scss";

.miniTableHeadingLight,
.miniTableHeadingDark {
   @include roboto700;
   @include tableRowGrid;
   height: 35px;
   padding: 4px;
   margin-bottom: 4px;
   border-radius: 6px;
   position: relative;

   span {
      font-size: 1.3rem;
      display: flex;
      align-items: center;

      &:hover {
         cursor: pointer;
      }
   }

   span:nth-child(2) {
      justify-self: start;
      padding-left: 50px;
   }

   span:nth-child(10) {
      &:hover {
         cursor: auto;
         color: #fff;
      }
   }
}

.miniTableHeadingLight {
   background-color: $bgc-light;

   span {
      &:hover {
         color: $bgc-light-lighter;
      }
   }
}

.miniTableHeadingDark {
   background-color: $bgc-dark;

   span {
      &:hover {
         color: $bgc-light;
      }
   }
}